
:root{
    --main-text-color: #4d4d4d;
    --orange-color : #ff8c42;
    --grey-bg-color : #ece8e8;
    --white-bg : #ffffff;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    color: var(--main-text-color);
}

body{
    background-color: var(--grey-bg-color);
}

p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
}
h1{
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--white-bg);
    padding: 1rem 1rem 1rem 4rem;
    
}

header nav{
    display: flex;
    align-items: center;
    
}

header li{
    list-style: none;
    
}


#navlinks{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    margin-right: 1rem;
    
}

#navlinks a{
    text-decoration: none;
    font-weight: 500;
}

#navCTA{
    display: flex;
    flex-direction: row;
    margin-left: .5rem;
    width: 24rem;
}

#navCTA li{
    margin-right: 1rem;
    font-weight: 200;
}

#navCTA li:nth-of-type(2) a{
    font-weight: 200;
    margin-right:1.5rem;
    margin-left: .5rem;
}

#navCTA li:nth-of-type(3) a{
    color: white;
    background-color: var(--orange-color);
    padding: .5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 200;
}

#hero-section{
    display: flex;
    align-items: center;
    height: 40rem;
    margin-top: 5rem;
    width: 95%;
    padding: 2rem;
    
}

#hero-section-txt{
    width: 50%;
    padding: 1rem;
    margin-left: 1rem;
}

#hero-section-txt p:first-of-type{
    color: black;
    margin-bottom: 2rem;
}

#hero-section-txt p:last-of-type{
    color: var(--main-text-color);
    margin-bottom: 3rem;
    margin-top: 1rem;
    width: 85%;
}

#hero-section-txt h2{
    color: var(--orange-color);
    font-size: 3.3em;
    text-transform: uppercase;
}

#hero-section-txt ul{
    display: flex;
}

#hero-section-txt li{
    list-style: none;
}

#hero-section-txt li:first-child a{
    color: white;
    text-decoration: none;
    background-color: var(--orange-color);
    padding: .5rem 2rem;
    border-radius: 25px;
    margin-right: 2rem;
    font-weight: normal;
}

#hero-section-txt li:last-child a{
    text-decoration: none;
}

#hero-section-img{
    width: 40%;
    height: 100%;
    background-image: linear-gradient(rgba(201, 195, 195, 0.534), rgba(41, 39, 39, 0.363)),
    url(assets/img_homepage.jpg);
    background-position:center;
    background-size:cover;
    border-radius: 20px;
}

#planifiez{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    margin-top: 1rem;
}

#planifiez h2{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;
}

#planifiez p{
    text-align: center;
    width: 25%;
    margin-bottom: 1.5rem;
}

#card{
    background-color: var(--white-bg);
    display: flex;
    width: 60%;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 5px 5px rgba(100, 100, 100, 0.692);
    padding: 1.5rem;
}

#select{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    
}

#select .cardselect:nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;;
}

.cardselect{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardselect select{
    font-size: .7em;
    margin-top: 1.5rem;
    width: 10rem;
    border: none;
}



#card a{
    color: white;
    padding: 1rem;
    background-color: var(--orange-color);
    padding: .5rem 2rem;
    border-radius: 25px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 1.5rem;
}

#activites{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#activites h2{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;
}

#activites p{
    width: 25%;
    text-align: center;
    margin-bottom: 1.5rem;
}

#catalogue{
    width: 90%;
    display: flex;
    flex-direction: column;
}

#buttoncontainer{
    display: flex;
    margin-bottom: 2rem;
    
}

.activites-filterbutton{
    width: 33%;
    height: 4rem;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid gray;
}

.activites-filterbutton:focus{
    color: var(--orange-color);
    border-bottom:3px solid var(--orange-color) ;
}

#cardcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 22.4%;
    margin-right: 2rem;
}

#card-img{
    background-image: url(assets/img_homepage.jpg);
    background-position:center;
    background-size:cover;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

#card-description{
    display: flex;
    flex-direction: column;
    background-color: var(--orange-color);
    padding: 1rem;
    border-radius: 5px;
    
}

#card-description *{
    color: white;
}

#card-description p{
    margin: 0;
}

   
#card-description button{
    color: var(--orange-color);
    background-color: white;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 20px;
}

#card-description div:first-child{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    
    
}

#card-description div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: 800;
}

#activites a:last-of-type{
    color: rgb(123, 123, 197);
    text-decoration: none;
    font-size: .8em;
}

#avis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

#avis h2{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 2rem;
}

#avis > p {
    width: 25%;
    text-align: center;
    margin-bottom: 1.5rem;
}

#aviscard-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 1rem;
}

.circle{
    width: 2rem;
    height: 2rem;
    background-color: #bdb8b8;
    border-radius: 40px;
}

.aviscard{
    border: 1px solid var(--orange-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.aviscard *{
    color: rgb(132, 132, 228);
}

.avislabel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.avislabel>div{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aviscard > p{
    padding: 1.5rem;
    line-height: 1.5em;
}

.useravis{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.useravis h3{
    font-size: 1.2em;
}

.useravis hgroup{
    font-size: .8em;
    font-weight: 400;
}

.footer {
    background-color: #444;
    color: white;
    padding: 2rem 3rem;
  }

  .footer *{
    color: white;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  
  .footer-column {
    min-width: 20rem;
    margin: 1rem;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  
  .vision {
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  .social-icons {
    display: flex;
    gap: .5rem;
    height : 1rem
  }
  
  .footer-column h3 {
    font-size: 1em;
    margin-bottom: 1rem;
  }
  
  .footer-column p {
    font-size: .8em;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  
  .footer-column input[type="email"] {
    width: 100%;
    padding: .5rem .8rem;
    border-radius: 10px;
    border: none;
    font-size: .8em;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin: .5rem 0;
    
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    
  }
  
  .footer-bottom {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: .9em;
    
  }
  
  .footer-bottom a {
    margin-left: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: 300;
  }