
:root{
    --main-text-color: #4d4d4d;
    --orange-color : #ff8c42;
    --grey-bg-color : #ece8e8;
    --white-bg : #ffffff;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    color: var(--main-text-color);
}

body{
    background-color: var(--grey-bg-color);
}

p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
}
h1{
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--white-bg);
    padding: 1rem 1rem 1rem 4rem;
    
}

header nav{
    display: flex;
    align-items: center;
    
}

header li{
    list-style: none;
    
}


#navlinks{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    margin-right: 1rem;
    
}

#navlinks a{
    text-decoration: none;
    font-weight: 500;
}

#navCTA{
    display: flex;
    flex-direction: row;
    margin-left: .5rem;
    width: 24rem;
}

#navCTA li{
    margin-right: 1rem;
    font-weight: 200;
}

#navCTA li:nth-of-type(2) a{
    font-weight: 200;
    margin-right:1.5rem;
    margin-left: .5rem;
}

#navCTA li:nth-of-type(3) a{
    color: white;
    background-color: var(--orange-color);
    padding: .5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 200;
}

#hero-section{
    display: flex;
    align-items: center;
    height: 40rem;
    margin-top: 5rem;
    width: 95%;
    padding: 2rem;
    
}

#hero-section-txt{
    width: 50%;
    padding: 1rem;
    margin-left: 1rem;
}

#hero-section-txt p:first-of-type{
    color: black;
    margin-bottom: 2rem;
}

#hero-section-txt p:last-of-type{
    color: var(--main-text-color);
    margin-bottom: 3rem;
    margin-top: 1rem;
    width: 85%;
}

#hero-section-txt h2{
    color: var(--orange-color);
    font-size: 3.3em;
    text-transform: uppercase;
}

#hero-section-txt ul{
    display: flex;
}

#hero-section-txt li{
    list-style: none;
}

#hero-section-txt li:first-child a{
    color: white;
    text-decoration: none;
    background-color: var(--orange-color);
    padding: .5rem 2rem;
    border-radius: 25px;
    margin-right: 2rem;
    font-weight: normal;
}

#hero-section-txt li:last-child a{
    text-decoration: none;
}

#hero-section-img{
    width: 40%;
    height: 100%;
    background-image: linear-gradient(rgba(201, 195, 195, 0.534), rgba(41, 39, 39, 0.363)),
    url(assets/img_homepage.jpg);
    background-position:center;
    background-size:cover;
    border-radius: 20px;
}

#planifiez{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    margin-top: 1rem;
}

#planifiez h2{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;
}

#planifiez p{
    text-align: center;
    width: 25%;
    margin-bottom: 1.5rem;
}

#card{
    background-color: var(--white-bg);
    display: flex;
    width: 60%;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 5px 5px rgba(100, 100, 100, 0.692);
    padding: 1.5rem;
}

#select{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    
}

#select .cardselect:nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;;
}

.cardselect{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardselect select{
    font-size: .7em;
    margin-top: 1.5rem;
    width: 10rem;
    border: none;
}



#card a{
    color: white;
    padding: 1rem;
    background-color: var(--orange-color);
    padding: .5rem 2rem;
    border-radius: 25px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 1.5rem;
}

#activites{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#activites h2{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;
}

#activites p{
    width: 25%;
    text-align: center;
    margin-bottom: 1.5rem;
}

#catalogue{
    width: 90%;
    display: flex;
    flex-direction: column;
}

#buttoncontainer{
    display: flex;
    
}

.activites-filterbutton{
    width: 33%;
    height: 4rem;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid gray;
}

.activites-filterbutton:focus{
    color: var(--orange-color);
    border-bottom:3px solid var(--orange-color) ;
}

.card{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 20%;
    border-radius: 20px;

}

#card-img{
    background-image: url(assets/img_activity.avif);
    background-position:center;
    background-size:cover;
    height: 60%;
}

#card-description *{
    background-color: var(--orange-color);
    color: white;
}
